* {
    margin: 0;
    padding: 0;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    position: relative;
    background-color: beige;
}

.logo {
    height: 1.6rem;
    padding: 0 4.2rem;
    
}
.nav {
    display: flex;
    gap: 4.8rem;
    list-style: none;
    justify-content: space-between;
}
.nav-list {
    color: rgb(54, 28, 10);
    font-weight: bold;
    font-size: 1.3rem;
}
.nav-list:hover {
    color: orange;
    text-decoration: underline;
}
.nav-btn {
    background-color: orange;
    width: 8.5rem;
    height: 2.3rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 3rem;
   margin-bottom: 4rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-btn:hover {
    background-color: rgb(227, 148, 2);
    transition: 1s ease;
}
.section1 {
    background-color: beige;
    /* padding: 4.1rem 0 9.6rem 0; */
}
.hero-section {
    grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.h1{
    color: rgb(54, 28, 10);
    font-size: 3.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-paragraph-description{
    color: grey;
    margin-top: 1rem;
    letter-spacing: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.hero-buttons {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}
.btn-one {
    background-color: orange;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 1rem;
    width: 235px;
    height: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.btn-one:hover {
    background-color: rgb(214, 144, 15);
    transition: 1s ease;
}
.btn-two {
    background-color: rgb(54, 28, 10);
    color: white;
    font-size:1rem;
    border: none;
    border-radius: 1rem;
    width: 7rem;
    font-weight: bold;
}
.btn-two:hover {
    background-color: rgb(179, 178, 178);
    color: rgb(54, 28, 10);
    transition: 1s ease;
}

.customers-images {
    margin-top: 2rem;
    display: flex;

}
.customer {
    border-radius: 2rem;
    width: 2rem;
    border: 5rem;
    border-color: black;
}
.customer-detail{
    display: flex;
    margin-left: 2rem;
}
.details {
    color: rgb(54, 28, 10);
}
.details-span {
    color: orange;
}
.woman {
    width: 35rem;
    margin-left: 3rem;
}
.brands-header {
    text-align: center;
    margin-top: 5rem;
    color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
}
.brands {
    margin-top: 6rem;
    max-width: 190rem;
    height: 12rem;
    background-color: white;
    align-items: center;
    
}
.brand {
    height: 1.9rem;
    margin-left: 5rem;
    margin-top: 1rem;

}
.brand1{
    height: 1.9rem;
    margin-left: 4rem;
}
.brand2{
    height: 1.9rem;
    margin-left: 4rem;
}
.brand3{
    height: 1.9rem;
    margin-left: 4rem;
}
.brand4{
    height: 1.9rem;
    margin-left: 4rem;
}
.phone-text {
    color: orange;
    margin-top: 6rem;
    margin-left: 7rem;
    font-weight: bold;
}
.phone-header {
    color: rgb(54, 28, 10);
    margin-top: 1rem;
    margin-left: 7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.phone-section {
    grid-template-columns: 1fr 1fr;
    display: flex;
}
.phone-number {
    color: rgb(222, 220, 220);
    margin-top: 6rem;
    margin-left: 6rem;
    font-size: 6rem;
}
.phone-title1 {
    font-size: 3rem;
    margin-left: 6rem;
    color: rgb(54, 28, 10);
    
}
.phone-description {
    color: rgb(158, 157, 157);
    margin-left: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 1rem;
}
/* .circles {
    display: flex;
}
.outer-circle {
    height: 350px;
    width:350px;
    background-color: orange;
    opacity: 0.5;
    border-radius: 50%;
    display: inline-block;
    margin: 9rem;
    margin-top: 12rem;
    margin-left: 15rem; */

.app-screen {
    width: 15rem;
    margin-left: 15rem;
    margin-top: 5rem;
    transition: transform 0.4s ease;
}
.app-screen:hover {
  /* transform: translateY(-12px) scale(1.02);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25); */
  transform: rotateY(-8deg) rotateX(4deg) translateY(-10px);
}
.app-screen2 {
    width: 15rem;
    margin-left: 8rem;
    margin-top: 4rem;
    transition: transform 0.4s ease;
}
.app-screen2:hover {
  transform: rotateY(-8deg) rotateX(4deg) translateY(-10px);

}
.phone-number2 {
    color: rgb(222, 220, 220);
    margin-top: 6rem;
    margin-left: 20rem;
    font-size: 6rem;
}
.phone-title2 {
    font-size: 3rem;
    margin-left: 20rem;
    color: rgb(54, 28, 10);
}
.phone-description2 {
    color: rgb(158, 157, 157)pi;
    margin-left: 20rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 1rem;
}

.meals-container {
    padding: 9.6rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    background-color: beige;
    
}
/* .meals {
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 .4rem 4.8rem rgba(0,0,0,.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    display: flex;
    justify-content: space-between;
} */
/* .meals-box {
    gap: 3rem;
} */
.meals:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,.06);
}

.meals-title {
    color: orange;
    text-align: center;
    margin-top: 10rem;

}

.meals-header {
    color: rgb(54, 28, 10);
    text-align: center;

}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0..4rem;
}
.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 50px;
    font-weight: 600;
}
.tag--vegetarian {
    background-color: #51cf66;
}
.tag--vegan {
    background-color: #94d82d;
}
.tag--paleo {
    background-color: #ffd43b;
}
.meal-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
}
.meal-attributes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}
.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}
.meal-image {
    width:30%;
    
}
.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}
.list-icon{
    width: 3rem;
    height: 3rem;
    color: #e67e22;
}
*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.section-testimonials{
    background-color: #fdf2e9;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonial-container{
    padding: 9.6rem;
}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial-img{
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    color: #6f6f6f;
}

.testimonial-name{
    font-size: 1.6rem;
    color:#777;
}

.gallery{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item{
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}